---
import Layout from "../../../layouts/Layout.astro"
import { PersonneNationaliteOptions, PersonneProfessionOptions } from '../../../pocketbase-types'

export const prerender = false 
const pb = Astro.locals.pb
if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData()
    const personne = await pb.collection('personne').create(data)

    return Astro.redirect(`/personnes/${personne.id}-${personne.nom}`)
}
---

<Layout pageTitle="Edit personne">
    <form method="POST" class="*:contents grid grid-cols-2">
        <label>
            Nationalité
            <select name="nationalite">
                {Object.entries(PersonneNationaliteOptions).map(([key, value]) => (
                    <option value={key}>{value}</option>
                ))}
            </select>
        </label>
        <label>
            Nom
            <input type="text" name="nom">
        </label>
        <label>
            Date de naissance
            <input type="date" name="date_naissance">
        </label>
        <label>
            Date de décès
            <input type="date" name="date_deces">
        </label>
        <label>
            Lieu de naissance
            <input type="text" name="lieu_naissance">
        </label>
        <label>
            Profession
            <select name="profession">
                {Object.entries(PersonneProfessionOptions).map(([key, value]) => (
                    <option value={key}>{value}</option>
                ))}
            </select>
        </label>
        
        <button type="submit">Créer</button>
    </form>
</Layout>